/* reset */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, q, strong, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, 
figure, figcaption, footer, header, nav, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* navbar */

nav{
	top:0;
}

 body > .container-fluid{
	padding: 0 ;
}
.parallax {
  /* The image used */
  background-image: url("../bg.jpg");
  /* Set a specific height */
  height: 100vh;
  width: 100vw;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

